<head>
<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
	<ul id="container">
	<li><img class="p1" src="1.png" style="width:150px;height:150px;">
	<div class="t1">Picture1</div></li>
	<li><img class="p2" src="2.png" style="width:150px;height:150px;">
	<div class="t2">Picture2</div></li>
	<li><img class="p3" src="3.jpg" style="width:150px;height:150px;">
	<div class="t3">Picture3</div></li>
	<li><img class="p4" src="4.jpg" style="width:150px;height:150px;">
	<div class="t4">Picture4</div></li>
	</ul>
</body>