<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<table class="tab" border="1">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Points</th>
  </tr>
  <tr>
      <td>Eve</td>
      <td>Jackson</td> 
      <td>94</td>
  </tr>
  <tr>
          <td>Cristian</td>
      <td>Poputea</td> 
      <td>100</td>
      </tr>
</table>
</body>