#container {
    border: 5px solid black;
	list-style-type: none;
	width: 450;
}
.p1{
	position: relative;
	border-style: solid;
	border-color: yellow;
	border-width: 15px;
	float:left;	
}
.p2{
	position: relative;
	border-style: solid;
	border-color: yellow;
	border-width: 15px;
}
.p3{
	position: relative;
	border-style: solid;
	border-color: yellow;
	border-width: 15px;
	float:left;
}
.p4{
	position: relative;
	border-style: solid;
	border-color: yellow;
	border-width: 15px;
}
.t1{
	float:left;
	position: relative;
	top: 180px;
	right:115px;
}
.t2{
	position:relative;
	left: 300px;
}
.t3{
	float:left;
	position:relative;
	top: 180px;
	right:115px;
}
.t4{
	position:relative;
	left: 300px;
}