#container {
    border: 5px solid black;
	list-style-type: none;
	background-color: purple;
	width: 450;
}
.p1{
	position: relative;
}
.p2{
	position: relative;
}
.p3{
	position: relative;
}
.p4{
	position: relative;
}
.t1{
	float:right;
	position: relative;
	right:200px;
	top:70px;
}
.t2{
	float:right;
	position:relative;
	right:200px;
	top:70px;
}
.t3{
	float:right;
	position:relative;
	right:200px;
	top:70px;
}
.t4{
	float:right;
	position:relative;
	right:200px;
	top:70px;
}